<!doctype html>
<html>
    <head>
        <title>COMICS!</title>
        <link rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body>
        <div>
            <button class="trans1">Trans1</button>
            <button class="trans2">Trans2</button>
            <button class="trans3">Trans3</button>
        </div>
        <div class="image-wrapper">
            <div class="images">
            </div>
        </div>
        <script src="/static/js/image_getter.js"></script>
        <script src="/static/js/transitions.js"></script>
    </body>
</html>