<!doctype html>
<html>
    <head>
        <title>COMICS!</title>
    </head>
    <body>
        <div class="images">
        </div>
        <script src="/static/js/image_getter.js"></script>
    </body>
</html>