@font-face {
    font-family: 'KomikaTextKapsBold';
    src: url('/static/fonts/KOMTXTKB-webfont.eot');
    src: url('/static/fonts/KOMTXTKB-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/KOMTXTKB-webfont.woff') format('woff'),
         url('/static/fonts/KOMTXTKB-webfont.ttf') format('truetype'),
         url('/static/fonts/KOMTXTKB-webfont.svg#KomikaTextKapsBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'KomikaTextKapsBold', Arial, sans-serif;
    background-color: #000;
}

img {
    width: 100%;
    height: 100%;
}

.caption {
    position: absolute;
    bottom: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    max-width: 80%;
}

.img {
    background-color: #fff;
    padding: 5px;
    height: 250px;
    width: 250px;
    margin: -2px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    display: inline-block;
    position: relative;
}

.visible {
    opacity: 1;
}

.image-wrapper {
    width: 514px;
    height: 518px;
    overflow: hidden;
    display: block;
}

.images {
    width: 1200px;
    height: 1200px;
    /*-webkit-transition: all 0.2s;*/
    -webkit-transform: translateZ(0);
}

.trans1 {
    -webkit-transform: translateZ(0) translateX(600px) translateY(600px) scale(2);
}

.trans2 {
    -webkit-transform: translateZ(0) translateX(600px) translateY(82px) scale(2);
}

.trans3 {
    -webkit-transform: translateZ(0) translateY(-100px);
}
