body {
    background-color: #000;
}

img {
    background-color: #fff;
    padding: 5px;
    height: 250px;
    margin: -2px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
}

.visible {
    opacity: 1;
}
